extends layout

block content
  .container(style="display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center;")
    p(style="margin-top: 20px; font-size:2rem;")
      | This is a visual demo of how Blockchain works, some actions are visually shown here like hash generation, block mining, Blockchain creation, effect of diffculty on nonce etc. For more detailed info, visit :

